body {
  background: url("back_1.jpg") no-repeat lightblue;
  background-position: top right;
  text-align: center;
  color: white;
  font-family: 'Aqum';
}

.logo {
  font-size: 4em;
}

.tagline {
  font-size: 5em;
  margin: 100px auto;
}

.button {
  font-size: 2em;
  border: white 1px solid;
  width: 300px;
  margin: 0px auto;
  border-radius: 100px;
}

.button:hover {
  color: yellow;
  border-color: yellow;
}

.info {
  text-align: left;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  font-size: 2em;
  width: 30%;
  border-color: yellow;
}

.info div {
  margin-left: 100px;
}

.infoItem {
  border-radius: 100px;
  border-color: yellow;
}

.infoItem img {
  width: 50px;
}

.size img {
  width: 75px;
}

.form {

}

input {
  margin-left: 5px;
  border-radius: 100px;
  background-color: transparent;
  border: white 1px solid;
  color: white;
}

input:focus {
  border: white 1px solid;
  outline:none;
}

span {
  color: yellow;
}

@font-face {
	font-family: 'Aqum'; 
	src: url("Aqum2classic.otf"); 
}